services:
  fluentd:
    image: fluent/fluentd
    ports:
      - 24224:24224
      - 24224:24224/udp
    volumes:
      - ./fluentd/in_docker.conf:/fluentd/etc/fluent.conf

  fluentbit:
    image: fluent/fluent-bit
    volumes:
      - ./fluentbit:/fluent-bit/etc
      - ./logs:/app/logs:ro
    environment:
      LOGSTASH_HOST: 89.104.71.81
      LOGSTASH_PORT: 5044

  api:
    build: ./
    container_name: server-store-1
    ports:
      - 8000:8000
    restart: always
    volumes:
      - ./logs:/app/logs
    logging:
      driver: fluentd
      options:
        fluentd-address: "172.19.0.3:24224"
    depends_on:
      - fluentd